/*濃いめグリーン
#7EC2C2
うすグリーン
#9DDCDC  
クリーム
#FFF4E1
ピンク
#E67A7A
グレー
#797979
*/

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    max-width: 1120px; 
    min-height: 100vh;
    margin: 0 auto;
    background-color: #FFF4E1/*クリーム*/;
}

/* モバイルサイズ以下の場合 */
@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* 画面幅の90%までに制限 */
    }
}

/* タブレットサイズ以下の場合 */
@media screen and (max-width: 1024px) {
    .container {
        width: 80%; /* 画面幅の80%までに制限 */
    }
}

/*以下main*/
.indiv_intro_box{
    background-color: #FFF4E1/*クリーム*/;
    padding: 10px;
}

.indiv_title{
    padding: 10px;
    color: #797979;
}


.indiv_introduce{
    padding: 10px;
    color: #797979;
}


.indiv_tag{
    padding: 10px;
    color: #797979;
}

/*モデルコースbox*/
.indiv_course_box{
    background-color: #FFF4E1/*クリーム*/;
    padding: 0;
}

/* モバイルサイズ以下の場合 */
@media screen and (max-width: 768px) {
    .indiv_course_box {
        padding: 10px; /* 適切なパディングサイズに調整してください */
    }

    .timeline_content {
        width: 100%; /* 画面幅いっぱいに広げる */
        float: none; /* float 解除 */
        border-left: none; /* 左のボーダーを削除 */
        padding-left: 0; /* パディングを削除 */
        margin-left: 0; /* マージンを削除 */
    }
}

.timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
    padding-top: 10px;
}

.timeline_content {
    width: 75%;
    float: left;
    border-left: 3px #E67A7A/*ピンク*/ solid;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
}

.timeline_content::before {
    content: '';
    width: 20px;
    height: 20px;
    background: #E67A7A; /* ピンク */
    position: absolute;
    left: -12px; 
    top: -10px; 
    border-radius: 50%;
    z-index: 1;
}

/*mappin_imgとindiv_spotNameの横並び↓*/
.flex{
    display: flex;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.flex .mappin_img{
    width: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    color: #797979;
}

.flex .indiv_spotName{
    margin: -22px 0 0 -22px;
    padding: 0;
}

.indiv_spotName{
   padding: 10px;
   text-align: left;
   color: #797979;
}
/*mappin_imgとindiv_spotNameの横並び↑*/


.indiv_spotIntroduce{
    padding: 20px;
    color: #797979;
}


.indiv_image{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
}

img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    max-width: 100%; /* 画面幅いっぱいに広げる */    
    height: auto; /* アスペクト比を保つために高さを自動調整 */
    display: block; /* 不要な余白を削除するためにブロック要素に変更 */
    margin: auto; /* センタリング */
}

button {
    display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
    padding: 20px;
	font-weight: bold;
	color: #9DDCDC;
	border: 1px solid #9DDCDC;
    border-bottom: 2px solid #7EC2C2;
	border-radius: 100vh;
	box-shadow: 0 2px 7px #7EC2C2(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px #7EC2C2(0, 0, 0, .3);
	transition: 0.5s;
}
/*mainここまで*/
