/* カラー：#7EC2C2, #9DDCDC, #FFF4E1, #E67A7A */
#signup-wrapper{
    margin-top:0;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 15px;
    background: #9DDCDC;
    padding-bottom: 30px;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #E67A7A;
    font-size: 30px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background-color: #E67A7A;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 20%;
    background: #fff;
    border-radius: 6px;
    padding:0 20px;
}

.input .img{
    margin: 0px 30px;
    display: flex;
    color: #797979;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}


.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
    width: 80%;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #E67A7A;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    box-shadow:0 3px 1px #524545;
    margin: 0 auto;
}

.submit:active{
    box-shadow: none;
    position: relative;
    top: 3px;
}

.gray{
    background: #797979;
    color: #fff;
}

/* .btn{
    width: 100%;
} */