/* カラー：#7EC2C2, #9DDCDC, #FFF4E1, #E67A7A */
#signup-wrapper{
    margin-top:3%;
    max-width: 50%;
    margin: 0 auto;
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 15px;
    background: #9DDCDC;
    padding-bottom: 30px;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #E67A7A;
    font-size: 30px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background-color: #E67A7A;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    /* height: 20%; */
    background: #fff;
    border-radius: 6px;
    padding:0 20px;
}

.input .img{
    margin: 0px 30px;
    display: flex;
    color: #797979;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}


.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
    width: 80%;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: #fff;
    background: #E67A7A;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    box-shadow:0 3px 1px #524545;
    margin: 0 auto;
}

.submit:active{
    box-shadow: none;
    position: relative;
    top: 3px;
}

.gray{
    background: #797979;
    color: #fff;
}

.btn{
    width: 100%;
}

@media screen and (max-width: 480px) {
    .submit-container{
        display: block;
        width: 60%;
        margin: 20px auto;
    }
    .submit{
        margin: 15px auto;
        height: 40%;
        width: 60%;
        font-weight: 300;
    }
    .container{
        width: 80%;
        height: 600px;
    }
    #signup-wrapper{
        display: flex;
        margin: 20px auto;
        max-width: 80%;
    }
    .inputs{
        width: 80%;
    }
    .input input{
        height: 50px;
        width: 400px;
        background: transparent;
        border: none;
        outline: none;
        color: #797979;
        font-size: 19px;
    }
  }