.postBox{
    padding:20px;
    margin:100px 100px 100px 100px;
    width :50%;
    border: 3px #9DDCDC;
    
    margin:0 auto;
}
h2{
    color: #E67A7A;
}
.postBox > form{
    display:flex;
    flex-direction:column;
    
}
input{
    width:100%;
    font-size:20px;
    
}
.addCourse-section{
    display:flex;
    
}

.postBox_addCourse{
    width:50px;
}

.custom-icon-color{
    color:#797979;
}
.postBox_postButton{
   
    margin:0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #797979;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    box-shadow:0 3px 1px #524545;
}

/* .tagInput{
    display:none;
} */


.outerBox {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
    display: flex;
    justify-content: center;
    width: 30%;
    height: 10%;
    margin:0 auto;
    border: none;
    padding: 4%;
    border-radius: 10px;
     box-shadow: 0px 0px 8px gray; 
    color: gray;
  }
  
  .imageUploadInput {
    /* display: flex;
    justify-content: center; /* 横方向の中央揃え */
    /* align-items: center; 縦方向の中央揃え */ 
    top: 0;
    left: 0;
    width: 53%;
    /*opacity: 0;*/
    /* margin:0 auto; */
    /* height: 80px;   */
    cursor: pointer;
    font-size: 14px;
  }

  .custom-icon {
    color: #797979;
    text-align: center;
  }
  