.postBox{
    padding:20px;
    margin:100px 100px 100px 100px;
    width :50%;
    border: 1px #797979;
    border-style: dotted;
    margin:0 auto;
}
h2{
    color: #E67A7A;
}
.postBox > form{
    display:flex;
    flex-direction:column;
    
}
input{
    width:100%;
    font-size:20px;
    
}
.addCourse-section{
    display:flex;
    
}

.postBox_addCourse{
    width:50px;
}

.custom-icon-color{
    color:#797979;
}
.postBox_postButton{
    padding:2px;
    color:white;
    background-color:#797979;
    width :30%;
    margin:0 auto;
    border-radius:50px;
    font-weight: bold;
}